.card {
  width: 265px;
  height: 450px;
  background: 000;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .25s ease;
  backface-visibility: hidden;
}
.card:hover {
  transform: scale(.9);
}
.card:hover:after {
  height: 260px;
}